<div class="contact">
  <div class="container">
    <div class="row">
        <div class="col-sm-12 contact-header">
          <h1 class="text-center">Contact</h1>
          <p class="text-center">Please, keep in touch, leave few lines by e-mail or reach us via Whatsapp</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="contact-inner">
            <h2><span class="icon-map-signs" aria-hidden="true"></span> Address</h2>
            <p>Rosario, Argentina</p>
            <h2><span class="icon-whatsapp" aria-hidden="true"></span> Phone Contact</h2>
            <p>
              <a class="btn btn-primary d-md-none" href="tel:+5493416008783" role="button"><b>+54 9 341 600 8783</b></a>
              <a class="btn btn-primary d-md-none" href="https://api.whatsapp.com/send?phone=5493416008783" role="button"><b>Consult via Whatsapp</b></a>
              <span class="d-none d-md-block">+54 9 341 600 8783</span>
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="contact-inner">
              <app-form></app-form>
            </div>
        </div>
    </div>
  </div>
</div>
