<div class="container cliente-detalle">  
  <div class="row">
    <div class="col-12">
      <h1>{{client.name}}</h1>
    </div>
    <div class="col-xs-12 col-md-6">
      <a href="{{client.url}}">
        <img class="img-fluid client-image" [src]="client.picture" [alt]="client.name">
      </a>
    </div>
    <div class="col-xs-12 col-md-6">
      <p>{{client.description}}</p>
      <a href="{{client.url}}" class="btn btn-primary">Visit Client Site</a>
    </div> 
    <div *ngIf="client.print.isPrinted" class="col-12 print-preview">
      <h2>Print Work</h2>
      <div class="row">
          <div *ngFor="let item of client.print.printWork" class="col-xs-12 col-md-6">
              <img class="img-fluid" [src]="item.artwork" [alt]="item.alt">
              <p class="description">{{item.alt}}</p>
            </div>
      </div>    
    </div>   
  </div>   
</div>

