@import "../../_variables";
@import "../../_rfs";

.cliente-detalle {
  padding-top: 5%;
  padding-bottom: 5%;
  min-height: 90vh;
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    @include responsive-font-size(4rem);
    margin-bottom: 5%;
    @media screen and (min-width: 768px) {
      @include responsive-font-size(5rem);
    }
  }
  .client-image {
    margin-bottom: 5%;
  }
  p {
    @include responsive-font-size(1.8rem);

    @media screen and (min-width: 768px) {
      @include responsive-font-size(2.4rem);
    }

    &.text-center {
      &:after {
        content: "";
        display: block;
        width: 32rem;
        height: 4rem;
        background: url(./../../assets/decorator.svg) no-repeat center center;
        background-size: cover;
        margin: 0 auto 2%;
      }
    }
  }
  h2 {
    @include responsive-font-size(3rem);
    @media screen and (min-width: 768px) {
        @include responsive-font-size(4rem);
    }
    margin-bottom: 5%;
  }
  .btn-primary {
    width: 100%;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    font-weight: 700;
    border: 0;
    background-color: $red;
    @include responsive-font-size(1.8rem);
    @media screen and (min-width: 768px) {
      width: auto;
      padding: 1.8rem;
      @include responsive-font-size(2.4rem);
    }
  }
  .print-preview {
      margin-top: 5%;
      .description {
          margin-top: 6%;
      }
      img {
          background: $white;
      }
  }
}
