<form #contactForm="ngForm" action="">
  <fieldset>
    <legend>Send us your comments</legend>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name" [(ngModel)]="dataModel.name" required  #name="ngModel" [attr.aria-invalid]="name.invalid && (name.dirty || name.touched)" [attr.aria-describedby]="name.invalid && (name.dirty || name.touched) ? 'name-error' : null" aria-required>
      <p id="name-error" class="error-descriptor" *ngIf="name.invalid && (name.dirty || name.touched)">Name is a required field</p>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" class="form-control" placeholder="youremail@email.com" [(ngModel)]="dataModel.email" #email="ngModel" [attr.aria-invalid]="email.errors?.email || email.errors?.required && (email.dirty || email.touched)" email required [attr.aria-describedby]="[email.errors?.email && (email.dirty || email.touched) ? 'email-valid' : null, email.errors?.required && (email.dirty || email.touched) ? 'email-required' : null]" aria-required>

    <p id="email-required" class="error-descriptor" *ngIf="email.errors?.required && (email.dirty || email.touched)">Email is a required field</p>
    <p id="email-valid" class="error-descriptor" *ngIf="email.errors?.email && (email.dirty || email.touched)">This Field needs to be a Valid Email</p>
    </div>
    <div class="form-group">
      <label for="subject">Subject (Optional)</label>
      <input type="text" name="subject" id="subject" class="form-control" placeholder="Your subject"  [(ngModel)]="dataModel.subject">
    </div>
    <div class="form-group">
      <label for="msg">Message</label>
      <textarea class="form-control" name="msg" id="msg" rows="3" required  [(ngModel)]="dataModel.msg" #msg="ngModel" required [attr.aria-invalid]="msg.invalid && (msg.dirty || msg.touched)" [attr.aria-invalid]="msg.invalid && (msg.dirty || msg.touched) ? 'msg-error' : null"></textarea>
      <p id="msg-error" class="error-descriptor" *ngIf="msg.invalid && (msg.dirty || msg.touched)">Message field cannot be empty</p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
