@import "./../../variables";
@import "./../../rfs";

form {
  label, input, .btn, textarea {
    @include responsive-font-size(1.6rem);
    @media screen and (min-width: 768px) {
      @include responsive-font-size(1.8rem);
    }
  }
  legend {
    color: $red;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Oswald', Arial, sans-serif;
    @include responsive-font-size(3rem);
    @media screen and (min-width: 768px) {
      @include responsive-font-size(3.5rem);
    }
  }
  label {
    font-weight: 600;
    margin-bottom: 3%;
  }
  input, textarea {
    padding: 11% 6%;
    margin-bottom: 3%;
    @media screen and (min-width: 768px) {
      & {
        padding: 7% 5%;
      }
    }
    @media screen and (min-width: 1024px) {
      & {
        padding: 5% 3%;
      }
    }
  }
  .btn {
    background: $red;
    width: 100%;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    font-weight: 700;
    border: 0;
    @media screen and (min-width: 768px) {
      width: auto;
      padding: 1.8rem;
    }
  }
  .error-descriptor {
    color: $red;
  }
  .feedback-icon {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  .icon-spin3 {
    font-size: 11rem;
    text-align: center; 
    color: $red;
    &:before {
      text-shadow: 3px 3px 3px $black;
    }  
  }
}
