@import "../../_variables";
@import "../../_rfs";

.portfolio {
    padding: 5% 0;
    h1 {
        text-transform: uppercase;
        font-weight: 700;
        @include responsive-font-size(4rem);
        @media screen and (min-width: 768px) {
            @include responsive-font-size(5rem);
        }
    }
    p {
        @include responsive-font-size(1.8rem);
        @media screen and (min-width: 768px) {
            @include responsive-font-size(2.4rem);
        }
        &.text-center {
          &:after {
            content:"";
            display: block;
            width: 32rem;
            height: 4rem;
            background: url(./../../assets/decorator.svg) no-repeat center center;
            background-size: cover;
            margin: 0 auto 2%;
          }
        }
    }
    form {
        padding: 0 0 4rem;        
        .btn-primary {
            background: $red;    
            padding: 1.8rem;
            font-weight: 700;
            border: 3px solid transparent;
            @include responsive-font-size(1.5rem);
            cursor: pointer;            
            @media screen and (min-width: 768px) {
                @include responsive-font-size(1.8rem);
                padding: 1.8rem 1rem;
            }            
        }
        input.visually-hidden:checked + label {
            border: 3px solid $red;
            color: $red;
            background: $white;
        } 
        input:focus + label {
            outline: 3px dashed $black;
            outline-offset: 2px;
        }          
    }
    .card-columns{      
      
        h2 {
            @include responsive-font-size(2rem);
            @media screen and (min-width: 768px) {
                @include responsive-font-size(2.5rem);
            }
        }
    }
    .badge {
        margin-right: 0.5rem;
        &:last-of-type {
            margin-right: 0;
        }
    }  
    
}