<div class="portfolio">
  <div class="container">
    <h1 class="text-center">Portfolio</h1>
    <p class="text-center">Here is a sample of work done and the technology involved</p>
      <form action="">
        <fieldset class="row">
          <div class="col">
            <input type="checkbox" class="visually-hidden" id="RWD" name="RWD" value="RWD">
            <label for="RWD" class="text-center">Responsive Web Design</label>
          </div>
          <div class="col">
            <input type="checkbox" class="visually-hidden" id="e-commerce" name="e-commerce" value="e-commerce">
            <label for="e-commerce" class="text-center">e-Commerce</label>
          </div>
          <div class="col">
            <input type="checkbox" class="visually-hidden" id="wordpress" name="wordpress" value="wordpress">
            <label for="wordpress" class="text-center">Wordpress</label>
          </div>
          <div class="col">
            <input type="checkbox" class="visually-hidden" id="static-html" name="static-html" value="static-html">
            <label for="static-html" class="text-center">Static Html</label>
          </div>
          <div class="col">
            <input type="checkbox" class="visually-hidden" id="spa" name="spa" value="spa">
            <label for="spa" class="text-center">Single Page App</label>
          </div>
          <div class="col">
            <input type="checkbox" class="visually-hidden" id="online-portfolio" name="online-portfolio" value="online-portfolio">
            <label for="online-portfolio" class="text-center">Online Portfolio</label>
          </div>
          <div class="col">
            <input type="checkbox" class="visually-hidden" id="print" name="print" value="print">
            <label for="print" class="text-center">Print</label>
          </div>
        </fieldset>
      </form>
  </div>
</div>
