<div class="services">
  <div class="container">
    <h1 class="text-center">Services</h1>
    <p class="text-center">Here are the services which we are experts in:</p>
    <div class="card-columns">
      <div *ngFor="let service of services" class="card">
        <img [src]="service.img" class="card-img-top" [alt]="service.altText">
        <div class="card-body">
          <h2 class="card-title">{{service.title}}</h2>
          <p class="card-text">{{service.description}}</p>
          <button type="button" class="btn-primary" (click)="subjectTrigger(service.title)">Consult</button>
        </div>
      </div>      
    </div>
  </div>
  
</div>
