@import "../../_variables";
@import "../../_rfs";
@import "../mixins";

.services {
    padding: 5% 0;
    h1 {
        text-transform: uppercase;
        font-weight: 700;
        @include responsive-font-size(4rem);
        @media screen and (min-width: 768px) {
            @include responsive-font-size(5rem);
        }
    }
    h2 {
        text-transform: uppercase;
        font-weight: 700;
        @include responsive-font-size(2.5rem);
        @media screen and (min-width: 768px) {
            @include responsive-font-size(3rem);
        }
    }
    p {
        @include responsive-font-size(1.8rem);
        @media screen and (min-width: 768px) {
            @include responsive-font-size(2.4rem);
        }
        &.text-center {
          &:after {
            content:"";
            display: block;
            width: 32rem;
            height: 4rem;
            background: url(./../../assets/decorator.svg) no-repeat center center;
            background-size: cover;
            margin: 0 auto 2%;
          }
        }
    }
    .btn-primary {
        background: $red;    
        padding: 1.8rem;
        font-weight: 700;
        border: 3px solid transparent;
        @include responsive-font-size(1.5rem);
        cursor: pointer;
        width: 100%;  
        @include focus-button($white, $red);         
        @media screen and (min-width: 768px) {
            @include responsive-font-size(1.8rem);
            padding: 1.8rem 1rem;
        }
        @media screen and (min-width: 1024px) {
            width: auto;
        }           
    }
}