<div class="services">
  <div class="container">
    <h1 class="text-center">Services</h1>
    <p class="text-center">Here are the services which we are experts in:</p>
    <div class="card-columns">
      <div class="card">
        <img src="../../assets/services/responsive.png" class="card-img-top" alt="Responsive Web Design">
        <div class="card-body">
          <h2 class="card-title">Responsive Web Design</h2>
          <p class="card-text">We can create any design to be suitable to any device, keeping in mind functionality and performance. 
            We can code for design agencies.</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/services/contentstrategy.jpg" class="card-img-top" alt="Content Strategy">
        <div class="card-body">
          <h2 class="card-title">Content Strategy</h2>
          <p class="card-text">Content organization and creation, consultancy in order to reach market targets.
            Social media strategy.</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/services/wordpress.jpg" class="card-img-top" alt="Wordpress">
        <div class="card-body">
          <h2 class="card-title">Wordpress</h2>
          <p class="card-text">Do you want to let your customers know about your business and 
            impact on them? Wordpress is a Content Management System really powerful which can let you achieve your
          communication goals.</p>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Card title that wraps to a new line</h2>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Card title that wraps to a new line</h2>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Card title that wraps to a new line</h2>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Card title that wraps to a new line</h2>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Card title that wraps to a new line</h2>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Card title that wraps to a new line</h2>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>
