$black: rgba(0, 0, 0, 1);
$red: rgba(226, 53, 32, 1);
$white: rgba(255, 255, 255, 1);
$blue: rgba(11, 79, 108, 1);
$cyan: rgba(0, 185, 174, 1);

$headings-font-family: 'Oswald', sans-serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
$body-bg: #f4f5f9;
html {
  font-size: 10px;
}
