/* You can add global styles to this file, and also import other style files */
@import "_variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "_fontello.scss";

body {
  font-size: 1.6rem;
}

.object-fit-cover {
  object-fit: cover;
}
.visually-hidden {
  border: 0;
  clip: rect(1px 1px 1px 1px);  
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}