<section class="home">
  <div class="container-fluid">
    <figure class="row">
      <img class="img-fluid object-fit-cover hero" src="../../assets/images/hero.jpg" alt="Hero Picture">
    </figure>
    <div class="home-text-wrapper">
      <h1 class="text-center">Welcome To <span>Canvas Estudio</span></h1>
      <p class="text-center"><b>We develop awesome sites and apps</b>, that tend to be valious to our clients and worth a lot to their consumers</p>
      <a routerLink="/services" class="col-xs-12 col-sm-5 btn btn-primary">Services</a>
      <a routerLink="/portfolio" class="col-xs-12 col-sm-5 offset-sm-2 btn btn-primary">Portfolio</a>
    </div>
  </div>
</section>
